.works img{
    /* width: 16%;
    height: 16%; */
    width: auto;
    height: 15vh;

    margin: 0.03vw;
}
a{
    text-decoration: none;
}

/* img.img_size1 {
    width: 5%;
    height: 5%;
}
img.img_size2{
    width: 14%;
    height: 14%;
}
img.img_size3 {
    width: 10%;
    height: 10%;
}
img.img_size4 {
    width: 7%;
    height: 7%;
} */


/* .works{
    display: flex;
} */