.works img{
    width: 16%;
    height: 16%;

    margin: 0.2vw;
}

img.img_size1 {
    width: 5%;
    height: 5%;
}
img.img_size2{
    width: 14%;
    height: 14%;
}
img.img_size3 {
    width: 10%;
    height: 10%;
}

a{
    text-decoration: none;
}