.body{
    display:flex;
}

img{
    margin: 1.3vw;  /* マージンを調整 */
    width: 100%;
}

.item{
    margin: 1.3vw;  /* マージンを調整 */

    width: 30%;
    
}

.portfolio{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-content: center;
    width: 50vw;
    height: 40vw;

}