@media screen and (orientation: landscape) {

    .sorry_mozi{
        font-size: 0vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .item-p{
        margin-top: 1%;
        margin-bottom: 0%;
        font-size: 0.85vw;
        font-style: italic;
    }


.header {
    position: fixed;
    top: 0;
    left: 8.3vw;
    width: 100vw;         /* 横幅を画面幅いっぱいに */
    height: 6vw;          /* ヘッダーの高さをvwで指定 */
    display: flex;
    align-items: center;
    font-size: 2vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .yusuke{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    font-size: 1vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .yusuke2{

    display: flex;
    align-items: center;
    font-size: 2vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}

    body {

        font-family: 'Noto Sans', sans-serif;
        font-weight: normal; /* 必要に応じて他のフォントウェイトも指定可能 */

        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative; /* 追加 */
    }
    
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0vw;
        align-content: flex-start;
        width: 95vw;  /* 正方形の幅 */
        height: 38vw; /* 正方形の高さ */
    }
    
    .abouts{

        flex-wrap: wrap;
        
        align-content: flex-start;
        width: 83vw;  /* 正方形の幅 */
        height: 38vw; /* 正方形の高さ */
    }
    
    .home{
                display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 90vw;  /* 正方形の幅 */
        height: 38vw; /* 正方形の高さ */

    }
    .home-item{
        align-content: flex-start;
        margin-top: -5vw;
    }
    .home-item img{
        max-width: 70vw;
        margin-top: 5vw;
    }

    .item {
        margin: 1.2vw;  /* マージンを調整 */
        margin-bottom: 2vw;
        position: relative;
    }
    
    .item img {
        max-width: 16.5vw;
        display: block;
        transition: transform 0.2s ease-out;
    
        cursor: pointer;
    }
    
    .item::before {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
        background: transparent;
    }
    
    .self-intro-container {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .self-intro-image {
        width: 5vw;
        transition: transform 0.2s ease-out;
        cursor: pointer;
    }
    
    .self-intro-text {
        font-size: 0.9vw;
        display: none; /* 初期状態では非表示 */
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px;
        /* border-radius: 5px; */
    }
}









@media screen and (orientation: portrait) {

    .sorry_mozi{
        font-size: 6vw;
    }

    .item-p{
        margin-top: 1%;
        margin-bottom: 0%;
        font-size: 0.9vw;
        font-style: italic;
    }


    .all{
        display: flex;
        justify-content: center;
    }

.header {
    position: fixed;
    top: 0;
    left: 8.3vw;
    width: 100vw;         /* 横幅を画面幅いっぱいに */
    height: 6vw;          /* ヘッダーの高さをvwで指定 */
    display: flex;
    align-items: center;
    font-size: 2vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .yusuke{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    font-size: 1vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .a{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    font-size: 1vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}

    body {

        font-family: 'Noto Sans', sans-serif;
        font-weight: normal; /* 必要に応じて他のフォントウェイトも指定可能 */

        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative; /* 追加 */
    }
    
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 95vw;  /* 正方形の幅 */
        height: 45vw; /* 正方形の高さ */
    }


    .home{
                display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 90vw;  /* 正方形の幅 */
        height: 38vw; /* 正方形の高さ */

    }
    .home-item{
        align-content: flex-start;
        margin-top: -5vw;
    }
    .home-item img{
        max-width: 70vw;
        margin-top: 5vw;
    }
    
    .item {
        margin: 1.6vw;  /* マージンを調整 */
        position: relative;
    }
    
    .item img {
        max-width: 13.5vw;
        display: block;
        transition: transform 0.2s ease-out;
    
        cursor: pointer;
    }
    
    .item::before {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
        background: transparent;
    }
    
    .self-intro-container {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .self-intro-image {
        width: 5vw;
        transition: transform 0.2s ease-out;
        cursor: pointer;
    }
    
    .self-intro-text {
        font-size: 0.9vw;
        display: none; /* 初期状態では非表示 */
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 10px;
        /* border-radius: 5px; */
    }
}