.header {
    position: fixed;
    top: 0;
    left: 8.3vw;
    width: 100vw;         /* 横幅を画面幅いっぱいに */
    height: 6vw;          /* ヘッダーの高さをvwで指定 */
    display: flex;
    align-items: center;
    font-size: 2vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .yusuke{
    margin-left: 5vw;
    display: flex;
    align-items: center;
    font-size: 1vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}
.header .yusuke2{

    display: flex;
    align-items: center;
    font-size: 2vw;       /* フォントサイズもvwで */
    z-index: 1000;        /* 前面に固定 */
    text-decoration: none;
    color: #000000;
}

/* CSSファイルに以下のコードを追加 */
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal; /* 必要に応じて他のフォントウェイトも指定可能 */
}


.contents .yohaku{
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.senta-{
    text-align: center;
}

.contents{
    display: block;
    text-align: center;
    
    margin-top: 7vw;
    margin-left: 18vw;
    margin-right: 18vw;
}
.contents p{
    font-size: 80%;
}
.contents div{
    margin-top: 4vw;
    margin-bottom: 4vw;
}


h3{
    font-size: 105%;
    font-weight:200;
}

.title_text p{
    text-align: left;
    font-size: 80%;
    margin-top: -1.5%;
    margin-bottom: -2%;
}
.title_text h2{
    text-align: left;
    font-size: 120%;

    /* font-weight: bold; */
    font-weight:100;
}

.title_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.caption{
    text-align: left;
}




.tenji{
    width: 100%;
    /* display: flex; */
}
.tenji2{
    width: 50%;
    display: flex;
}
.tenji3{
    width: 70%;
    /* display: flex; */
}
.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.imgs img{
    width: 40%;
    height: auto;
}

.imgsBig img{
    width: 100%;
    height: auto;
}
.imgs2 img{
    width: 49%;
    height: auto;
    margin-top: -3%;
}
